/**
 *
 * Button default styles
 * 
 */

.kk-i-like-it__box {
    /* display: grid;
    grid-template-areas: auto; */
    display: flex;
    flex-flow: row wrap;

    margin: 15px 0;
    box-sizing: border-box;
}

.kk-i-like-it__right {
    /* justify-items: end; */
    justify-content: flex-end;
}

.kk-i-like-it__box > a {
    display: grid;
    grid-template-columns: 35px 50px auto;
    grid-template-rows: 30px;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "icon value button-text";

    background-color: #f0f0f0;
    border-radius: 4px;
    color: inherit;
    font-weight: 400;
    padding: 0;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
}

.kk-i-like-it__box > a > span {
    display: grid;
    grid-template-areas: auto;
    justify-items: center;
    align-items: center;
}

.kk-i-like-it__ico {
    grid-area: icon;
}

.kk-i-like-it__value {
    grid-area: value;
    overflow: hidden;
}

.kk-i-like-it__text {
    grid-area: button-text;
}

.kk-i-like-it__ico,
.kk-i-like-it__value {
    border-right: 1px solid #ffffff;
}

.kk-i-like-it__text {
    padding: 0 10px;
}

/**
 *
 * Hidden rating value
 * 
 */

.kk-i-like-it__box > a.kk-i-like-it__rating-hidden {
    grid-template-areas: "icon button-text";
    grid-template-columns: 35px auto;
}

.kk-i-like-it__box > a:hover {
    background-color: #f9f9f9;
}

/**
 *
 * Show number of likes on hover
 * 
 */

.kk-i-like-it__box > a.kk-i-like-it__rating-hover {
    grid-template-columns: 35px 0px auto;
    /* transition: all 200ms; */
}

.kk-i-like-it__box > a.kk-i-like-it__rating-hover:hover {
    grid-template-columns: 35px 50px auto;
}


