/**
 *
 * Variables
 * 
 */

 :root {
    --kklike-button-bg-color: #ffffff;
    --kklike-button-likes-box-width: 38px;
    --kklike-button-button-height: 25px;
}

.kk-i-like-it__box button,
.kk-i-like-it__box button:active,
.kk-i-like-it__box button:focus,
.kk-i-like-it__box button:hover {
    font-size: 13px;

    background: -moz-linear-gradient(top,  #ffffff 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e2e2e2 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e2e2e2 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e2e2e2 100%);
    background: linear-gradient(top,  #ffffff 0%,#e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );
    
    text-shadow: 1px 1px var(--kklike-button-bg-color);
    border: 1px solid var(--kklike-button-bg-color);
    box-shadow: 0 0 2px #CCC;
}